<div class="dropzone"
     fileDrop
     (hovered)="toggleHover($event)"
     (dropped)="detectUpload($event)"
     [class.hovering]="isHovering">
    <span *ngIf="!isSelected">
      <h3>Przeciągnij</h3>
      
      <input class="file-input" 
        name="files" 
        id="files" 
        type="file" 
        (change)="detectUpload($event.target.files)"
        multiple>
      
        
      <label for="files" class="file-label">
          <i class="fas fa-download"></i> lub wybierz pliki..
      </label>
    </span>
    <span *ngIf="isSelected">
      <h2 *ngIf="this.galleryCard.fileList.length === 1">Wybrano {{ this.galleryCard.fileList.length }} plik.</h2>
      <h2 *ngIf="this.galleryCard.fileList.length > 1">Wybrano {{ this.galleryCard.fileList.length }} plików.</h2>
    </span>

</div>
