<div class="footer__content">
  <a class="navbar-brand footer__logo" routerLink="#">
    <i class="fas fa-dog"></i>
    Asowe Adopcje
  </a>
  <a href="https://www.facebook.com/asoweadopcje/">
    <i class="fab fa-facebook footer__icon footer__icon__facebook"></i>
  </a>
  <a href="https://instagram.com/asoweadopcje/">
    <i class="fab fa-instagram footer__icon footer__icon__instagram"></i>
  </a>

  <a href="https://github.com/patryk2300/asoweadopcje">
      <i class="fab fa-github footer__icon footer__icon__github"></i>
  </a>

  <p style="position: absolute; right: 15px; bottom: 0px;">Strona wykonana przez Patryk Ardej &copy; 2019</p>
</div>