@import '~bootstrap/scss/bootstrap.scss';
@import './variables';
@import './mixins';

    



html, body { 
    min-height: 100%;
    height: 100%;
    width: 100%; 
    margin: 0px; 
    padding: 0px; 
    font-family: $font-stack; }
