<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink='#'>Asowe Adopcje</a>
        </div>
        <ul class="nav navbar-nav">
            <li routerLinkActive="active current"><a routerLink='#'>Home</a></li>
            <li routerLinkActive="active current"><a routerLink="/gallery">Psiaki</a></li>
            <li routerLinkActive="active current"><a routerLink="/page2">Page 2</a></li>
            <li routerLinkActive="active current"><a routerLink="/contact">Kontakt</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li routerlinkActive="active current">
                <a routerLink="/login"><span class="glyphicon glyphicon-user"></span> Zaloguj</a>
            </li>
        </ul>
    </div>
</nav>