<form class="content" #form>
  <div class="form-group"> 
      <div style="margin-bottom: 1%;">
        <label for="login" id="label">Login</label>
        <input type="text" class="form-control">
      </div>
      <div>
        <label for="password" id="label">Hasło</label>
        <input type="password" class="form-control">
      </div>
  </div>
  <div>
    <div style="margin-bottom: 0.5%;">
      <a routerLink="/register">Nie masz konta? Zarejestruj się</a>
    </div>
    <button class="btn btn-primary">Zaloguj</button>
  </div>
</form>