<div class="gallery">
  <div *ngFor="let dog of dogs$ | async" class="gallery-card">
    
    <div class="gallery-card-title">
      <span 
        *ngIf="!toEdit" 
        (click)="navigate(dog)">
        {{ dog.dogName }}
      </span>
      <span *ngIf="toEdit">
        <input 
          type="text" 
          [(ngModel)]="title">
      </span>

      <span style="padding-left: 2%;" *ngIf="authService.isLoggedIn">
          <i 
            class="far fa-edit" 
            (click)="manageGalleryCard(dog)"></i>
          <i 
            style="padding-left: 1%;" 
            class="far fa-trash-alt" 
            (click)="remove(dog)"></i>
      </span>
    </div>
    <span (click)="navigate(dog)">
      <img 
        class="gallery-card-img"
        src="{{ dog.mainImg.downloadUrl }}" 
        alt="{{ dog.dogName }} image" >
    </span>
    
  </div>
</div>
