#background {
    position: fixed;
    background-image: url('../assets/images/background.png');
    background-repeat: repeat;
    min-width: 100%;
    min-height: 100%;
    opacity : 0.4;
    z-index: -1;
}

#page-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 56px 1fr 70px;
    min-height: 100%;
}

#content-wrap{
    // margin: 0 auto;
    
    // max-width: 100%;
    // width: 100%;
}

#footer{
    align-items: end;
    width: 100%;
    min-width: 100%;
    height: 100%;
}

.logo-image {
    width: 10%;
    border-radius: 50%;
    float: left;
}

.logo-holder {
    padding-left: 3%;
}

#background {
    position: fixed;
    // background-image: url('../assets/images/background.png');
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    opacity : 0.4;
    z-index: -1;
}

#spacing{
    padding-top: 20px;
    padding-bottom: 20px;
}

@media(min-width: 1024px){
    .page-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 56px 1fr 70px;
        min-height: 100%;
        position: absolute;
        bottom: 0;
    }
}