<div style="height: 56px;">
    <!-- header -->
    <navbar></navbar>
</div>

<div class="background-image"></div>

<div class="wrapper">  
  <div class="content">
    
    <!-- if logged in then display background and sidebar -->
    <div *ngIf="user.isLoggedIn" style="width: 1000px; height: 50px;">
        <!-- sidebar -->
        <admin-panel></admin-panel>
    </div>
      
      <!-- main content -->      
      <router-outlet ></router-outlet>

  </div>
</div>

<!-- footer -->
<footer class="footer">
  <app-footer></app-footer>
</footer>