.schedule{
    margin: 0 auto;
    margin-top: 75px;
    max-width: 1500px;
    height: 600px;
    z-index: 0;
}

.schedule__sidebar{
    background-color: hsla(200, 100%, 75%, 1.0);
    float: left;
    box-shadow: 5%;
    width: 25%;
    height: 100%;
    // background-color: rgb(144, 201, 235);
    text-align: center;
    -webkit-box-shadow: 65px 0px 158px -85px rgba(0,0,0,0.56);
    -moz-box-shadow: 65px 0px 158px -85px rgba(0,0,0,0.56);
    box-shadow: 65px 0px 158px -85px rgba(0,0,0,0.56);
}

.schedule__sidebar__date{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    height: 15%;
    align-items: center;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: rgba($color: #001f3f, $alpha: 0.3);
    // border-color: rgba(3, 63, 104, 0.2);
}

.schedule__sidebar__months{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 85%;
    align-items: center;
    justify-content: center;
}

.schedule__sidebar__months__month{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.schedule__sidebar__months__month:hover {
    background-color: hsla(230, 100%, 75%, 1.0) !important;
    color: hsla(200, 100%, 100%, 1.0);
}

.schedule__calendar{
    background-color: hsla(200, 100%, 95%, 1) !important;
    float: left;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.schedule__table{
    width: 50%;
    height: 50%;
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.schedule__table__window{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.schedule__table__window:hover{
    text-decoration: underline;
}

.schedule__event-menu{
    display: show;
    position: relative;
    background-color: white;
    float: left;
    width: 25%;
    height: 100%;
    border-style: solid;
    border-width: 0px 0px 0px 2px;
    border-color: rgba(116, 111, 111, 0.3);
}

#title{
    position: absolute;
    left: 15px;
    top: 12px;
    font-size: 1.2em;
}

#exit-btn{
    position: absolute;
    right: 13px;
    top: 0;
    font-size: 2em;
    color: hsl(90, 10%, 80%);
    cursor: pointer;
}

#exit-btn:hover{
    color: hsl(90, 10%, 10%);
}

#save-btn{
    position: absolute;
    bottom: 0;
    right: 0;
}

.schedule__set-event{
    visibility: hidden;
    display: block;
    position: relative;
    background-color: white;
    width: 250px;
    height: 300px;
    z-index: 1;
    border-radius: 5%;
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
}

.schedule__set-event::after{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    top: 96.2%;
    left: 50%;
    margin-left: -12.5px;
    border-bottom: 2px solid lightgray;
    border-right: 2px solid lightgray;
    transform: rotate(45deg);
    background-color: hsl(205, 80%, 90%);
}

.schedule__set-event__content{
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 4%;
    background-color: hsl(205, 80%, 90%);
}

.schedule__set-event__content__colors{
    background-color: green; 
    height: 25px; 
    width: 25px; 
    position: absolute; 
    left: 3%;
    bottom: 3%; 
    border-radius: 50%;
    border: 1px solid ;
    z-index: 1;
    cursor: pointer;
}