<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <img src="https://firebasestorage.googleapis.com/v0/b/pracainzynierska2.appspot.com/o/banner%2Fbanner.jpg?alt=media&token=4f98802a-64bd-4715-ba71-ced6f4067bb5" width="100%" height="200px" alt="" style="background-size: cover; background-position: center;object-fit: cover;">
            <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c"></rect>
              </svg> -->
            <p class="card-text">
              <strong>
                Park moczydło - wypad
              </strong>
            </p>
            <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dolor magna, faucibus mollis justo in, vulputate faucibus turpis. 
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button class="btn btn-sm btn-outline-secondary">Zobacz</button>
                <button class="btn btn-sm btn-outline-secondary">Edytuj</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <img src="https://firebasestorage.googleapis.com/v0/b/pracainzynierska2.appspot.com/o/banner%2Fbanner.jpg?alt=media&token=4f98802a-64bd-4715-ba71-ced6f4067bb5" width="100%" height="200px" alt="" style="background-size: cover; background-position: center;object-fit: cover;">
              <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect>
                </svg> -->
              <p class="card-text">
                <strong>
                  Park moczydło - wypad
                </strong>
              </p>
              <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dolor magna, faucibus mollis justo in, vulputate faucibus turpis. 
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button class="btn btn-sm btn-outline-secondary">Zobacz</button>
                  <button class="btn btn-sm btn-outline-secondary">Edytuj</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <img src="https://firebasestorage.googleapis.com/v0/b/pracainzynierska2.appspot.com/o/banner%2Fbanner.jpg?alt=media&token=4f98802a-64bd-4715-ba71-ced6f4067bb5" width="100%" height="200px" alt="" style="background-size: cover; background-position: center;object-fit: cover;">
                <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c"></rect>
                  </svg> -->
                <p class="card-text">
                  <strong>
                    Park moczydło - wypad
                  </strong>
                </p>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dolor magna, faucibus mollis justo in, vulputate faucibus turpis. 
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button class="btn btn-sm btn-outline-secondary">Zobacz</button>
                    <button class="btn btn-sm btn-outline-secondary">Edytuj</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <div class="card-body">
                  <img src="https://firebasestorage.googleapis.com/v0/b/pracainzynierska2.appspot.com/o/banner%2Fbanner.jpg?alt=media&token=4f98802a-64bd-4715-ba71-ced6f4067bb5" width="100%" height="200px" alt="" style="background-size: cover; background-position: center;object-fit: cover;">
                  <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                    </svg> -->
                  <p class="card-text">
                    <strong>
                      Park moczydło - wypad
                    </strong>
                  </p>
                  <p class="card-text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dolor magna, faucibus mollis justo in, vulputate faucibus turpis. 
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button class="btn btn-sm btn-outline-secondary">Zobacz</button>
                      <button class="btn btn-sm btn-outline-secondary">Edytuj</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <div class="card-body">
                    <img src="https://firebasestorage.googleapis.com/v0/b/pracainzynierska2.appspot.com/o/banner%2Fbanner.jpg?alt=media&token=4f98802a-64bd-4715-ba71-ced6f4067bb5" width="100%" height="200px" alt="" style="background-size: cover; background-position: center;object-fit: cover;">
                    <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                      <title>Placeholder</title>
                      <rect width="100%" height="100%" fill="#55595c"></rect>
                      </svg> -->
                    <p class="card-text">
                      <strong>
                        Park moczydło - wypad
                      </strong>
                    </p>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dolor magna, faucibus mollis justo in, vulputate faucibus turpis. 
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button class="btn btn-sm btn-outline-secondary">Zobacz</button>
                        <button class="btn btn-sm btn-outline-secondary">Edytuj</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                      <img src="https://firebasestorage.googleapis.com/v0/b/pracainzynierska2.appspot.com/o/banner%2Fbanner.jpg?alt=media&token=4f98802a-64bd-4715-ba71-ced6f4067bb5" width="100%" height="200px" alt="" style="background-size: cover; background-position: center;object-fit: cover;">
                      <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        </svg> -->
                      <p class="card-text">
                        <strong>
                          Park moczydło - wypad
                        </strong>
                      </p>
                      <p class="card-text">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dolor magna, faucibus mollis justo in, vulputate faucibus turpis. 
                      </p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button class="btn btn-sm btn-outline-secondary">Zobacz</button>
                          <button class="btn btn-sm btn-outline-secondary">Edytuj</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

    </div>
  </div>
</div>