<div class="desc">
  <div class="desc_title">
    <strong>{{ dog.dogName }}</strong>
  </div>

  <img src="{{ dog.mainImg.downloadUrl }}" alt="img" class="desc_main-image">
  
  <div class="desc_description" >
      {{ dog.desc }}
  </div>
  
  <div class="desc_sub-images">  
    <div *ngFor="let img of dog.images" class="desc_sub-images_placeholder">
      
      <img src="{{ img.downloadUrl }}" 
           alt="img"      
           (click) = "displayImage(img.downloadUrl)"
           class="desc_sub-images_sub-image">
          
    </div>
  </div>
  
  <!-- The Modal -->
  <div id="myModal" class="modal" [ngStyle]="{'display': display }">

    <!-- The Close Button -->
    <span class="close" (click)="display = 'none'">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img01" [src]="image">
    
    <span class="ml" (click)="changeImage(-1)">&lt;</span>
    <span class="mr" (click)="changeImage(1)">&gt;</span>

  </div>

</div>