<div class="content">
  <div class="title" style="font-size: 150%;">
    {{ name }}
  </div>
  <div>
    <img src="{{ imgUrl }}" alt="img" style="width: 40%; float: left;">
  </div>
  <div class="description" >
      Nachos trafił do schroniska na początku stycznia. Nie wiemy czy to przez strzały sylwestrowe zgubił się swoim opiekunom ,czy też może ktoś świadomie go porzucił. Po dwóch miesiącach znalazł dom, by wkrótce znów go stracić.
      Nasz podopieczny jest skromnych rozmiarów, więc zmieści się nawet w małym mieszkanku. Ważne żeby miał zapewnioną odpowiednią dawkę ruchu oraz kontakt z człowiekiem, który tak uwielbia. Jest on bowiem fanem nie tylko spacerów ale też przede wszystkim ludzi. Zawołany przybiega i z radością przyjmuje porcje miziania. Potrafi również wskoczyć na ławkę, żeby posiedzieć sobie z wolontariuszem i dopraszać się o głaski. Lubi także zabawę: piłki, patyki, sznury i wszystko co nadaje się do
      aportowania czy przeciągania z człowiekiem.
      Nachos nie ma nic przeciwko towarzystwu innych psów, o ile nie są zbyt duże :) . Raczej nie powoduje wtedy konfliktów, potrafi grzecznie się przywitać czy też wspólnie poszaleć na wybiegu. Większych przedstawicieli swojego gatunku zdecydowanie się boi i przez to reaguje na nich agresją. Nie znamy natomiast jego stosunku do kotów.
      Kilka tygodni spędzonych w domu pokazało, że Nachos jest niezwykle inteligentnym psem. Potrafi obserwować i kojarzyć zachowania opiekunów. Próbuje wszelkimi środkami wymóc na nich oczekiwane zachowania, więc na pewno od początku potrzebuje konsekwentnego i stanowczego zbudowania psio-ludzkich reakcji.
      Jesteśmy jednak przekonani, że u boku odpowiedzialnego człowieka w pełni pokaże jak wspaniałym potrafi być przyjacielem i na pewno odwdzięczy się za okazane mu serce.
      Kontakt w sprawie adopcji: 
      Kontakt: Krysia 664 248 224, Magda 668 412 043, Magda 513 932 996, Marta 696 449 029
  </div>
</div>