<div class="modal-header">
    <h4 class="modal-title">Dodaj baner</h4>
    <button 
    type="button" 
    class="close" 
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')">
    &times;
  </button>
</div>    
<form class="card" enctype="multipart/form-data" #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="modal-body">
      <label for="carousel-dog-name">Imię</label>
      <input type="text" 
             name="dogName" 
             id="carousel-dog-name" 
             class="form-control" 
             ngModel 
             required 
             #first="ngModel">

      <label for="desc">Opis</label>
      <textarea name="imgDesc" 
                id="desc" 
                rows="5" 
                class="form-control" 
                required 
                ngModel></textarea>
      
      <label for="image" class="image__upload center">
        <span style="padding-right: 5px;">
          Wgraj zdjęcie
        </span>
        <i class="fas fa-download"></i>
      </label>
      
      <p class="float-left" 
         style="font-size: 1.5rem; width: 60%;padding-top: 25px; padding-left: 5%;"
         *ngIf="file">
         {{ file.name }}
      </p>
      
      <input name="image" 
             id="image" 
             type="file" 
             (change)="detectUpload($event.target.files[0])" 
             hidden>
      
      <button class="btn btn-primary float-right">Dodaj</button>
    </div>
  </form>