<div style="width: 100%; text-align: center; background-color: lightgray; border-radius: 20px; padding-top: 20px; margin-top: 20px; padding-bottom: 30px;">
    <ngb-carousel class="mrg-bt bg-dark" style="width: 1200px; margin: 0 auto; margin-top: 50px;">
        <ng-template *ngFor="let image of images$ | async" ngbSlide>
            <div [style.backgroundImage]="'url('+image.imgUrl+')'" style="width: 1200px;height: 300px; background-repeat: no-repeat;  background-position: center; background-size:auto; object-fit: none; overflow: hidden;">
            </div>  
        <div class="carousel-caption">
            <h3>{{ image.dogName }}</h3>
            <p>{{ image.imgDesc }}</p>
        </div>
        </ng-template>
    </ngb-carousel>
    
     
   
    <div class="mrg-bt" style="font-size: 3em;">
        Aktualności
    </div>
    <news></news>
</div>
