<div style="width: 100%; text-align: center; background-color: lightgray; border-radius: 20px; padding-top: 20px; margin-top: 20px; padding-bottom: 30px;">
    <ngb-carousel class="mrg-bt" style="max-width: 1200px; margin: 0 auto; margin-top: 50px;">
        <ng-template *ngFor="let image of images$ | async" ngbSlide>
        <img src="{{ image.imgUrl }}" alt="obrazek" style="width: 100%; height: 300px;" > 
        <div class="carousel-caption">
            <h3>{{ image.dogName }}</h3>
            <p>{{ image.imgDesc }}</p>
        </div>
        </ng-template>
    </ngb-carousel>
    
    <div class="mrg-bt" style="font-size: 3em;">
        Aktualności
    </div>
    <news></news>
</div>
